body {
    background-image: linear-gradient(#318CE7, #002D62); ;
     color: DimGray;
     font-family: 'Courier New', Courier, monospace;
     font-size: 1em;
     line-height: 1.5em;
 }
 
 /* title */
 #title-wrapper {
     text-align: center;
 }
 
 .headline {
     font-size: 3em;
     font-family: Georgia, 'Times New Roman', Times, serif;
     font-weight: 600;
     margin-top: 80px;
     margin-bottom: 60px;
 }
 
 /* main content */
 #main-wrapper {
     width: 800px;
     position: relative;
     margin: auto;
 }
 
 .black { 
     color: black;
 }
 
 .red {
     color: DeepPink;
 }
 
 .green {
     color: LightSeaGreen;
 }
 
 .white{
     color: white;
 }
 
 .yellow {
     color: GoldenRod;
 }
 
 .two-columns {
     display: flex;
 }
 
 .left {
     width: 50%;
     padding: 0px 10px 0px 0px;
 }
 
 .right {
     width: 50%;
     padding: 0px 0px 0px 10px;
 }
 
 .bubbles{
   position:absolute;
   width:100%;
   height: 100%;
   z-index:0;
   overflow:hidden;
   top:0;
   left:0;
 }
 
 .bubble{
   position: absolute;
   bottom:-100px;
   width:40px;
   height: 40px;
   background:#f1f1f1;
   border-radius:50%;
   opacity:0.5;
   animation: rise 10s infinite ease-in;
 }
 
 .bubble:nth-child(1){
   width:40px;
   height:40px;
   left:10%;
   animation-duration:8s;
 }
 .bubble:nth-child(2){
   width:20px;
   height:20px;
   left:20%;
   animation-duration:5s;
   animation-delay:1s;
 }
 .bubble:nth-child(3){
   width:50px;
   height:50px;
   left:35%;
   animation-duration:7s;
   animation-delay:2s;
 }
 .bubble:nth-child(4){
   width:80px;
   height:80px;
   left:50%;
   animation-duration:11s;
   animation-delay:0s;
 }
 .bubble:nth-child(5){
   width:35px;
   height:35px;
   left:55%;
   animation-duration:6s;
   animation-delay:1s;
 }
 .bubble:nth-child(6){
   width:45px;
   height:45px;
   left:65%;
   animation-duration:8s;
   animation-delay:3s;
 }
 .bubble:nth-child(7){
   width:90px;
   height:90px;
   left:70%;
   animation-duration:12s;
   animation-delay:2s;
 }
 .bubble:nth-child(8){
   width:25px;
   height:25px;
   left:80%;
   animation-duration:6s;
   animation-delay:2s;
 }
 .bubble:nth-child(9){
   width:15px;
   height:15px;
   left:70%;
   animation-duration:5s;
   animation-delay:1s;
 }
 .bubble:nth-child(10){
   width:90px;
   height:90px;
   left:25%;
   animation-duration:10s;
   animation-delay:4s;
 }
 @keyframes rise{
   0%{
     bottom:-100px;
     transform:translateX(0);
   }
   50%{
     transform:translate(100px);
   }
   100%{
     bottom:1080px;
     transform:translateX(-200px);
   }
 }
 
 
 #footer {
     text-align: center;
     font-size: 0.7em;
     margin-top: 60px;
     padding-bottom: 30px;
 }
 
 /* home button */
 #home a {
     position: fixed;
     right: 15px;
     top: 15px;
     padding: 5px 10px;
     color: dimgrey;
     border: solid grey 0.5px;
     font-size: 0.6em;
     text-decoration: none;
 }
 
 #home a:hover {
     background-color: black;
     color: white;
     font-weight: bold;
 }
 
 /* p5.js sketch */
 canvas {
     display: block;
     cursor: none;
 }
 
 #p5-canvas-container {
     margin: auto;
     width: 800px;
 }